<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>formsample</title>
<!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
-->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <a href='/admin'>戻る</a>

</html>