<!-- コメントはこのように書きます -->

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all" />

  </head>

  <body>

  <form action=/honso_stamp method="post">

    <div id="frame">
      <p class="frame-title">本葬</p>
      <p class="name">お名前 ： {{ current_user.username }}</p>
    </div>

    <div id="frame">
      <p class="frame-title">勤務日／会館名</p>
        <table>
          <tr>
            <td>  
              <p class="today">{{today}}　</p>
            </td>
            <td>  
              <p class="select">会館　</p>
            </td>
            <td>  
                <select id="place1" name="place1" required>
                  <option value="" disabled selected>選択してください。</option>
                  <option>愛知葬祭 春日井会場</option>
                  <option>平安会館 一宮斎場</option>
                  <option>項目4</option>
                  <option>項目5</option>
                  <option>項目6</option>
                  <option>項目7</option>
                  <option>項目8</option>
                  <option>その他</option>
                </select>
            </td>
          </tr>
        </table>
        <p>
        <label for="other1">　その他：</label>
        <input type="text" required disabled id="other1" name="other1" placeholder="会 館 名" /></p>
    </div>

    <script>
      document.getElementById("place1").addEventListener("change", function(){
        var place1_elem = document.getElementById("place1");
//      console.log(place1_elem);
        var place1_select_value = place1_elem.options[place1_elem.selectedIndex].value;
        var start1_elem = document.getElementById("start1");
        var end1_elem = document.getElementById("end1");
        var other1_elem = document.getElementById("other1");

        if(place1_select_value == "選択してください"){
                start1_elem.disabled = true; //グレーアウト
        }else{
                start1_elem.disabled = false;
        }
        if(place1_select_value == "その他"){
                other1_elem.disabled = false;
        }else{
                other1_elem.disabled = true;
        }
      }, false);
    </script>

    <div id="frame">
      <p class="frame-title">勤務時間</p>
        <table>
          <tr>
            <td>  
              <p>出勤時間</p>
            </td>
            <td>  
              <p>退勤時間</p>
            </td>
          </tr>
          <tr>
            <td>  
              <p>
              <input type="time" required disabled id="start1" name="start1" value="{{start1}}" />
              </p>
            </td>
            <td>
              <p>
              <input type="time" disabled id="end1" name="end1" value="{{end1}}" />
              </p>
            </td>
          </tr>
        </table>
    </div>

    <script>
      document.getElementById("start1").addEventListener("change", function(){
        var start1_value = document.getElementById("start1").value;
        var end1_elem = document.getElementById("end1");
        if(start1_value == "" ){
    		end1_elem.disabled = true;   //グレーアウト
        }else{
                end1_elem.disabled = false;
        }
      }, false);
    </script>

    <div id="frame">
      <p class="frame-title">手当</p>
      <p class="option">
        &emsp;<input type="checkbox" id="leader1" name="leader1" />&emsp;
        <label for="leader1">リーダー</label><br />

        &emsp;<input type="checkbox" id="subleader1" name="subleader1" />&emsp;
        <label for="subleader1">サブリーダー</label><br />

        &emsp;<input type="checkbox" id="teach1" name="teach1" />&emsp;
        <label for="teach1">研修</label><br />

        &emsp;<input type="checkbox" id="wait1" name="wait1" />&emsp;
        <label for="wait1">待機</label><br />

        &emsp;<input type="checkbox" id="designated1" name="designated1" />&emsp;
        <label for="designated1">指定日</label><br />

        &emsp;<input type="checkbox" id="distant1" name="distant1" />&emsp;
        <label for="distant1">遠方地 </label><br />

        &emsp;<input type="checkbox" id="special1" name="special1" />&emsp;
        <label for="special1">特別手当</label><br />

        &emsp;<input type="checkbox" id="highway1" name="highway1" onchange="change()"/>&emsp;
        <label for="highway1">高速道路</label>
        <input type="number" required disabled id="express1" name="express1" placeholder="金額" /><br /><br />
      </p>
    </div>

      <script>
        var express1_elem = document.getElementById("express1");
        function change() {
          if (document.getElementById("highway1").checked) {
    		express1_elem.disabled = false;   //trueグレーアウト
          } else {
                express1_elem.disabled = true;
          }
        }
      </script>

      <p class="submit">
        <input type="submit" value="登録" />
      </p>

  </form>
  </body>


</html>